@using MTSDiscount.Web.Models
@model ListViewModel

@*подключаем все tag-хелперы*@
@addTagHelper *, MTSDiscount.Web
    <div class="btn-group float-right">
        <page-link page-model="Model.PageViewModel" page-action="List"></page-link>
    </div>